
<suite name="Group of group Suite" verbose="1">
    <test name="Group of group Test">
        <groups>
            <define name="HappyPath">
                <include name="searchResult" />
                <include name="searchBy" />
            </define>
            <define name="NegativePath">
                <include name="searchWithoutResult" />
            </define>
            <define name="AllTests">
                <include name="searchResult" />
                <include name="searchBy" />
                <include name="searchWithoutResult"/>
            </define>
            <run>
                <include name="AllTests" />
            </run>
        </groups>
        <classes>
            <class name="test.java.assertionHW.assertHW"/>
        </classes>
    </test>
</suite>
